body 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

h2:first-child
{
  margin-top: 0;
  padding-top: 0;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container
{
  margin: 20px 40px;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 1px 1px 10px -5px #34302D;
  border-radius: 5px;
}

button
{
  color: #f1f1f1;
  background-color: #34302D;
  border: 2px solid #6db33f;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  padding: 6px 12px;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover, button:focus
{
  border-color: #34302D;
}

a
{
  color: #5fa134;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

nav ul li a:hover
{
  text-decoration: none;
}

.container.home 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container.home h1
{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6db33f;
  font-size: 40px;
  margin-bottom: 5px;
}

.container.home h2
{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6db33f;
  font-size: 35px;
  margin-top: 5px;
}

input, select
{
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  height: 35px;
  font-size: 16px;
}

input:disabled 
{
  color: rgb(148, 148, 148);
  background-color: rgb(236, 236, 236);
  cursor: not-allowed;
}

.error p
{
  font-weight: bold;
  color: rgb(190, 62, 62);
}