nav
{
    border-top: 4px solid #6db33f;
    background-color: #34302d;
}

nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li a
{
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 28px 20px;
    transition: 0.2s;
}

nav ul li a.active, nav ul li a:hover, nav ul li a:focus
{
    background-color: #6db33f;
}