.form-container
{
    width: 80vw;
    margin: 0 auto;
}

.form-container .input-group
{
    display: block;
    margin: 5px 0;
}

.form-container .input-group label
{
    display: inline-block;
    margin-right: 30px;
    text-align: right;
    width: 100px;
}

.form-container .input-group input
{
    width: calc(100% - 200px);
    padding: 7px;
    font-size: 14px;
}

.form-container button
{
    margin-top: 10px;
    margin-left: 130px;
}