dt
{
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

dd
{
    margin-left: 180px;
}
/*
table:not(.no-border) {
    border-top: 1px solid #000;
}*/

table thead tr th {
    background: none;
    color: initial;
    padding: none;
    width: 0;
}

table.no-border td {
    border-bottom: none;
}