table
{
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
}

table.vets thead tr th:first-child
{
    border-top-left-radius: 5px;
}

table.vets thead tr th:last-child
{
    border-top-right-radius: 5px;
}

table.vets thead tr th
{
    background-color: #3c3834;
    color: #FFF;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

table tbody tr td
{
    background-color: #FFF;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

table tbody tr:last-child td:first-child
{
    border-bottom-left-radius: 5px;
}

table tbody tr:last-child td:last-child
{
    border-bottom-right-radius: 5px;
}

table tbody tr:nth-child(2n) td
{
    background-color: #F5F5F5;
}

table tbody tr:last-child td
{
    border-bottom: none;
}